*{
    margin: 0;
    padding: 0;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.main_box{
    background:url(photo.jpg);
    height: 100vh;
    background-size: cover;
}
.btn_one i{
    color: white;
    font-size: 30px;
    font-weight: 700;
    position: absolute;
    left: 20px;
    line-height: 60px;
    cursor: pointer;
    transition: all 0.1s linear;
}
.sidebar_menu{
    position: fixed;
    left: -300px;
    height: 100vh;
    width: 270px;
    background-color: rgba(255, 255, 255, 0.1);
    box-shadow: 0 0 7px rgba(255, 255, 255, 0.5);
    transition: all 0.2s linear;
}
.sidebar_menu .logo{
    position: absolute;
    width:100%;
    line-height: 60px;
    box-shadow: 0 2px 4px rgba(255, 255, 255, 0.5);
    height: 55px;
}
.sidebar_menu .logo a{
    position: absolute;
    left: 55px;
    color: white;
    text-decoration: none;
    font-size: 20px;
    font-weight: 500;
}
.sidebar_menu .btn_two i{
    color: white;
    font-size: 20px;
    font-weight: 700;
    line-height: 60px;
    position: absolute;
    left: 245px;
    opacity: 0;
    cursor: pointer;
    transition: all 0.1s linear;
}
.sidebar_menu .menu{
    position: absolute;
    top: 80px;
    color: white;
    width: 100%;
}
.sidebar_menu .menu li{
    margin-top: 7px;
    padding: 14px 20px;
}
.sidebar_menu .menu i,a{
    color: white;
    text-decoration: none;
    font-size: 20px;
}
.sidebar_menu .menu i{
    padding-right: 5px;
}
.sidebar_menu .social_media{
    position: absolute;
    left: 25%;
    bottom: 20px;
}
.sidebar_menu .social_media i{
    color: white;
    opacity: 0.5;
    padding: 0 3px;
}
.sidebar_menu .menu li:hover{
    box-shadow: 0 0 4px rgba(255, 255, 255, 0.5);
}
#check{
    display: none;
}
.btn_one i:hover{
    font-size: 35px;
}
.btn_two i:hover{
    font-size: 25px;
}
.sidebar_menu .social_media i:hover{
    opacity: 1;
    transform:scale(1.1) ;
}
#check:checked ~ .sidebar_menu{
    left: 0;
}
/* ~ this symbol is used for sibling element i.e jo same level pe ho  */
#check:checked ~ .btn_one i{
    opacity: 0;
}
#check:checked ~ .sidebar_menu .btn_two i{
    opacity: 1;
}